# Python: ignore compiled files and caches
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# Byte-compiled / optimized / DLL files
*.pyd

# Distribution / build
build/
dist/

# OS files
.DS_Store
Thumbs.db
